.about-us {
	min-height: 100svh;
	background: var(--dark-green-clr);
	padding: 112px 2rem 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.about-us__title {
	display: inline-block;
	color: var(--f1ebdd-clr);
	outline: 1px solid var(--f1ebdd-clr);
	outline-offset: -1px;
	padding: 1rem 0.625rem;
	border-radius: 24px;
	font-weight: 500;
}
