.footer {
	// min-height: 50svh;
	background: var(--3a4036-clr);
	color: var(--f1ebdd-clr);
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 20px;
	padding: 20px;
}

.footer__main-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;

	p {
		font-size: 18px;
		font-weight: 500;
	}
}

.footer__nav {
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
}

.footer__nav-link {
	text-align: center;

	&:hover {
		text-decoration: underline;
	}
}

.footer__bottom {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 0.25rem;
}

.footer__author {
	a {
		color: var(--f1ebdd-clr);

		&:hover {
			text-decoration: underline;
		}
	}
}
